<div class="bg-white shadow-md rounded-lg p-6 mt-6">
  <h2 class="text-lg font-semibold text-gray-800 mb-4">Delivery Address</h2>

  <div *ngIf="addresses.length > 0 && !editMode" class="space-y-4">
    <div
      *ngFor="let address of addresses"
      class="border rounded-lg p-4 shadow-sm bg-gray-50"
      [class.border-green-600]="selectedAddressId === address.id"
    >
      <p><strong>Phone Number:</strong> {{ address.phoneNumber }}</p>
      <p><strong>Country:</strong> {{ address.country }}</p>
      <p><strong>City:</strong> {{ address.city }}</p>
      <p><strong>Address Line:</strong> {{ address.addressLine }}</p>
      <p *ngIf="address.additionalAddressLine">
        <strong>Additional Address Line:</strong>
        {{ address.additionalAddressLine }}
      </p>
      <p><strong>Post Code:</strong> {{ address.postCode }}</p>
      <button
        class="bg-green-500 text-white py-1 px-3 rounded-lg mt-2 hover:bg-green-600"
        (click)="selectAddress(address)"
        *ngIf="selectable; else editable"
      >
        {{ selectedAddressId === address.id ? "Selected" : "Select" }}
      </button>

      <ng-template #editable>
        <button
          class="bg-green-500 text-white py-1 px-3 rounded-lg mt-2 hover:bg-green-600"
          (click)="editAddress(address)"
        >
          Edit
        </button>
        <button
          class="bg-red-500 text-white py-1 px-3 rounded-lg mt-2 hover:bg-red-600"
          (click)="deleteAddress(address.id)"
        >
          Delete
        </button>
      </ng-template>
    </div>
  </div>

  <form
    *ngIf="addressForm && (addresses.length === 0 || addNewAddress || editMode)"
    [formGroup]="addressForm"
    (ngSubmit)="onSubmitAddress()"
  >
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
      <div>
        <label class="block text-gray-600" for="phoneNumber"
          >Phone Number</label
        >
        <input
          id="phoneNumber"
          type="text"
          formControlName="phoneNumber"
          class="border rounded-md w-full p-2"
          [ngClass]="{
            'border-red-500':
              addressForm.get('phoneNumber')?.invalid &&
              addressForm.get('phoneNumber')?.touched
          }"
        />
        <p
          *ngIf="
            addressForm.get('phoneNumber')?.invalid &&
            addressForm.get('phoneNumber')?.touched
          "
          class="text-red-500 text-sm"
        >
          Valid phone number is required.
        </p>
      </div>
      <div>
        <label class="block text-gray-600" for="country">Country</label>
        <input
          id="country"
          type="text"
          formControlName="country"
          class="border rounded-md w-full p-2"
          [ngClass]="{
            'border-red-500':
              addressForm.get('country')?.invalid &&
              addressForm.get('country')?.touched
          }"
        />
        <p
          *ngIf="
            addressForm.get('country')?.invalid &&
            addressForm.get('country')?.touched
          "
          class="text-red-500 text-sm"
        >
          Country is required.
        </p>
      </div>
      <div>
        <label class="block text-gray-600" for="city">City</label>
        <input
          id="city"
          type="text"
          formControlName="city"
          class="border rounded-md w-full p-2"
          [ngClass]="{
            'border-red-500':
              addressForm.get('city')?.invalid &&
              addressForm.get('city')?.touched
          }"
        />
        <p
          *ngIf="
            addressForm.get('city')?.invalid && addressForm.get('city')?.touched
          "
          class="text-red-500 text-sm"
        >
          City is required.
        </p>
      </div>
      <div>
        <label class="block text-gray-600" for="addressLine"
          >Address Line</label
        >
        <input
          id="addressLine"
          type="text"
          formControlName="addressLine"
          class="border rounded-md w-full p-2"
          [ngClass]="{
            'border-red-500':
              addressForm.get('addressLine')?.invalid &&
              addressForm.get('addressLine')?.touched
          }"
        />
        <p
          *ngIf="
            addressForm.get('addressLine')?.invalid &&
            addressForm.get('addressLine')?.touched
          "
          class="text-red-500 text-sm"
        >
          Address is required.
        </p>
      </div>
      <div>
        <label class="block text-gray-600" for="additionalAddressLine"
          >Additional Address Line</label
        >
        <input
          id="additionalAddressLine"
          type="text"
          formControlName="additionalAddressLine"
          class="border rounded-md w-full p-2"
        />
      </div>
      <div>
        <label class="block text-gray-600" for="postCode">Post Code</label>
        <input
          id="postCode"
          type="text"
          formControlName="postCode"
          class="border rounded-md w-full p-2"
          [ngClass]="{
            'border-red-500':
              addressForm.get('postCode')?.invalid &&
              addressForm.get('postCode')?.touched
          }"
        />
        <p
          *ngIf="
            addressForm.get('postCode')?.invalid &&
            addressForm.get('postCode')?.touched
          "
          class="text-red-500 text-sm"
        >
          Post code is required.
        </p>
      </div>
    </div>
    <button
      type="submit"
      [disabled]="addressForm.invalid"
      class="bg-blue-500 text-white py-2 px-4 rounded-lg mt-4 hover:bg-blue-600"
    >
      Save Address
    </button>
  </form>

  <button
    *ngIf="addresses.length > 0 && !addNewAddress && selectable"
    (click)="addNewAddress = !addNewAddress"
    class="bg-blue-500 text-white py-2 px-4 rounded-lg mt-4 hover:bg-blue-600"
  >
    Add new Address
  </button>
</div>
