<footer class="bg-gray-800 text-gray-200 py-6">
  <div class="container mx-auto px-4">
    <div class="flex flex-col md:flex-row justify-between items-center">
      <!-- Navigation Links -->
      <!-- <div class="mb-4 md:mb-0">
        <nav class="flex space-x-4">
          <a href="/about" class="hover:text-blue-400">About Us</a>
          <a href="/services" class="hover:text-blue-400">Services</a>
          <a href="/contact" class="hover:text-blue-400">Contact</a>
          <a href="/privacy-policy" class="hover:text-blue-400"
            >Privacy Policy</a
          >
        </nav>
      </div> -->

      <!-- Social Media Links -->
      <!-- <div class="mb-4 md:mb-0">
        <div class="flex space-x-4">
          <a href="#" class="hover:text-blue-400">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a href="#" class="hover:text-blue-400">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="#" class="hover:text-blue-400">
            <i class="fab fa-instagram"></i>
          </a>
          <a href="#" class="hover:text-blue-400">
            <i class="fab fa-linkedin-in"></i>
          </a>
        </div>
      </div> -->

      <!-- Copyright -->
      <div class="text-sm">© 2024 Maria Ilieva. All rights reserved.</div>
    </div>
  </div>
</footer>
